PORT=4000
DATABASE_URL=postgresql://reachinbox:reachinbox_dev_password@localhost:5432/reachinbox
REDIS_HOST=localhost
REDIS_PORT=6379
ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=your-ethereal-username
ETHEREAL_PASS=your-ethereal-password
WORKER_CONCURRENCY=5
MIN_DELAY_MS=2000
MAX_EMAILS_PER_HOUR_PER_SENDER=200